.ul>li::before {
  content: "\2022";
  color: lightgray;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  /* margin-left: -1em; */
  /* background-color: green; */
}
.ul {
  list-style: none;
}
.img{
  max-width: 100%;
  height: calc(100px + 6vw);
  object-fit: contain;
  width: 25%;
}
.info{
    width: 50%;
}
.price{
    width: 25%;
}
.star svg{
    font-size: 14px;
    position: relative;
    top: -2px;
}
@media screen and (max-width: 600px) {
    .info>h3{
        font-size: calc(0.3rem + 1vw) !important;
    }
    .info>p{
        font-size: calc(0.3rem + 1vw) !important;
    }
    .info>p>span{
      font-size: calc(0.3rem + 1vw) !important;
  }
  .ul{
    padding-left: 0.2rem;
  }
  .ul>li{
    font-size: calc(0.3rem + 1vw) !important;
}
  .price>h3{
    font-size: calc(0.7rem + 20%) !important;
  }
  .price>h3>img{
    max-width: 50%;
    height: auto;
  }
  .price>p{
    font-size: calc(0.2rem + 1.2vw) !important;
  }
}