.navLogo {
  background: url("https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/flipkart-095e08.svg");
  background-size: 111px;
  background-repeat: no-repeat;
  background-position: -35px 5px;
  width: 100px;
  height: 27px;
}

nav > div {
  width: 90%;
  margin: 0 auto;
}
.right {
  width: 40%;
}
.right > div {
  padding: 5px 7px;
  border-radius: 5px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right > div > span {
  margin-right: 5px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}
.figure {
  line-height: 7px;
}
.signin {
  line-height: 0;
  text-align: center;
  /* padding-bottom: 3px;
  margin-bottom: 3px; */
  padding: 7px;
  /* padding: 4px 0px; */
}
.signin:hover {
  background-color: #2a55e5;
  transition: ease-in 300ms;
  /* padding-bottom: 3px;
  margin-bottom: 3px; */
  color: yellow;
}
.signin:hover > span {
  /* color: white; */
}
.signin:hover > div {
  color: yellow;
  /* padding-bottom: 3px;
  margin-bottom: 3px; */
}
.signin:hover > div > span {
  /* color: white; */
  /* padding-bottom: 3px;
  margin-bottom: 3px; */
}
.signin > div > span {
  font-size: 10px;
  padding-left: 43px;
}
.searchFrom {
  background-color: #f0f5ff;
}
.searchFrom input {
  background-color: #f0f5ff;
}
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 9999999;
}
.nav2 {
  display: none;
}

@media screen and (max-width: 600px) {
  .nav1 {
    /* display: none !important; */
  }
  .nav2 {
    background-color: #fff;
    display: block !important;
  }
  .nav1Search{
    display: none;
  }
  .seller{
    display: none;
  }
  .signInName{
    display: none;
  }
  .Badge.MuiBadge-badge{
    min-width: 1px !important;
    line-height: 0 !important;
    padding: 0 3px !important;
    height: 11px !important;
  }
}
