.cart {
  width: 80%;
  margin: 0 auto;
  display: flex;
  margin-top: 20px;
  /* background-color: #fff;
    border-radius: 3px;
    padding: 5px;
    margin-top: 5px; */
}
.cart > div:nth-child(1) {
  flex: 0.7;
  /* background-color: #fff; */
  padding: 10px;
  border-radius: 3px;
  margin-left: 5px;
}
.cart > div:nth-child(2) {
  flex: 0.3;
  /* background-color: #fff; */
  padding: 10px;
  border-radius: 3px;
  margin-left: 5px;
}
.items {
  height: 650px;
  overflow-y: scroll;
}
.item {
  display: flex;
  background-color: #fff;
  padding: 18px;
}
.item > div:nth-child(1) {
  flex: 0.15;
}
.item > div:nth-child(2) {
  flex: 0.5;
  padding: 0px 10px;
}
.item > div:nth-child(3) {
  flex: 0.35;
}
.item > div:nth-child(1) > img {
  height: 115px;
  object-fit: contain;
  width: 120px;
  padding: 5px;
  margin: 10px;
  background-blend-mode: overlay;
}
.custom-button {
  background-color: #fff;
  border: 1px solid #fff;
}
.custom-button:hover {
  background-color: initial;
  color: #2661f7;
  border: 1px solid #fff;
  /* padding: 0; */
  /* margin: 0; */
  /* border: 1px solid #000; */
}
.priceingDetils > div:last-child {
  /* border-style: dashed;
  border-bottom:  3px; */
  border-bottom-style: dashed !important;
}
.orderPlaceSection {
  position: sticky;
  position: -webkit-sticky;
  bottom: -10px;
  background-color: #fff;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.orderPlaceSection > button {
  position: relative;
  left: 70%;
}
.quantityBtn {
  font-size: 16px;
  border-radius: 50%;
  padding-top: 1px;
  line-height: 1;
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff, #f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  text-align: center;
  width: 28px;
  height: 28px;
  background: linear-gradient(#fff, #f9f9f9);
  display: inline-block;
  border: 1px solid #c2c2c2;
  padding-bottom: 4px;
}
